*{
    margin: 0;
    padding: 0;
    font-family:monospace;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    user-select: none;
}
::-webkit-scrollbar{
    width:7px;
    background:#ffffffb1;   
}
::-webkit-scrollbar-thumb{
    width:7px;
    background: #48a90f;
}


nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.742);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    width: 100%;
    z-index: 1;
}
 nav .logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: yellowgreen;
    font-size: 30px;
}
.logo h3 {
    color:yellowgreen ;
    font-size: 30px;
}
.logo{
    text-decoration: none;
}
.nav a{
    text-decoration: none;
    color: yellowgreen;
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
    padding: 13px;
    transition: all 0.1s ease;
}
.nav a:hover{
    background-color: greenyellow;
    color: white;
    border: none;
    border-radius: 40px;
}
.home-page{
    background:url(image/Bottled\ citrus\ juice\ with\ fresh\ citrus\ slices\ on\ white\ background____\ \(1\).jfif) ;
    background-size:900px;
    background-repeat: no-repeat;
    background-position-x:650px ;
    background-position-y: -350px;
    /* background-position-x:100px ;
    background-position-y: -1350px; */
    height: 1000px;
    display: flex;
    align-items: center;
}
.content{
    margin-left: 120px;    
    height:450px ;
}
.content h2{
    font-size: 30px;
}
.content h1{
    font-size: 90px;
    color: orange;
    margin: 30px 0;
    text-shadow: 0 0 100px #ffa500;
}
.content h3{
    font-size: 18px;
}
.content button{
    margin-top: 80px;
    height: 70px;
    width: 190px;
    border: none;
    background-color: #e3990fe6;
    color: aliceblue;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 1000;
    cursor: pointer;
    transition: all 0.3s ease;
}
.content button:hover{
    box-shadow: 0 10px 50px 5px #ff800077 ;
}
.section2{
    background: rgb(255, 255, 255);
    box-shadow: 0 -200px 80px rgb(255, 255, 255);
    margin-bottom: 50px;
    display: flexbox;
}
.header1{
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-top: 70px;
}
.header1 button{
    height: 70px;
    width: 180px;
    background-color: #3f930e;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.categories{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}
.categories .item1{
    width: 19%;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: #f2b7051e; */
}
/* .categories .item1:hover{
    background-color: #f2b70549;
} */
.categories .item2{
    width: 19%;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: #d6f2051e; */
}
/* .categories .item2:hover{
    background-color: #eef20549;
} */
.categories .item3{
    width: 19%;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: #05f2bb1e; */
}
/* .categories .item3:hover{
    background-color: #05f2c749;
} */
.categories .item4{
    width: 19%;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: #dc15f315; */
}
/* .categories .item4:hover{
    background-color: #b705f249;
} */
.categories .item5{
    width: 19%;
    border-radius: 10px;
    cursor: pointer;
    /* background-color: #f2144f17; */
}
/* .categories .item5:hover{
    background-color: #f205213e;
} */
.categories img{
    width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-top: 20px;
}
.section2 h3{
    text-align: center;
    margin-top: 15px;
}
.section2 h4{
    text-align: center;
    margin-top: 5px;
    padding-bottom: 30px;
}
.section3{
    margin-top: 80px;
}
.header2{
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-top: 70px;
}
.header2 button{
    height: 70px;
    width: 180px;
    background-color: #3f930e;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.products{
    margin-top: 30px;
    display:grid;
    grid-template-columns: repeat(auto-fit , minmax(400px,auto));
    width: 80%;
    margin-left: 10%;
}
.products div{
    width:95%;
    margin-top: 30px;
    box-shadow: 1px 2px 11px 4px rgb(14, 55, 54 ,15%);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}
.products img{
    width: 70%;
    margin-left: 15%;
    height: 280px;
}
.products h4{
    margin-left:20px;
}
.products h2{
    margin-left: 20px;
    margin-top: 20px;
}
.products h3{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 22px;
}
.products h3 span{
    color: rgba(255, 166, 0, 0.826)
}
.products .fa-cart-shopping{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:#48a90f;
    color: white;
    padding: 10px;
    border-radius: 10px 0 10px 0;
}
.products .fa-cart-shopping:hover{
    background-color: orange;
    transition: all 0.1s ease;
}
.products .fa-heart{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    color: orange;
}
.products .offer{
    position: absolute;
    top: 15px;
    left: 0;
    padding: 4px 10px;
    width: 50px;
    background-color: orange;
    color: white;
    font-weight: 700;
    clip-path: polygon(100% 0 ,82% 51% ,100% 100% ,0 100% ,0 50% ,0 0);
}
.About {
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
    width: 80%;
    margin-left: 10%;
}
.img{
    width: 47%;
}
.img img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    -webkit-user-drag: none;
}
.content3{
    width: 47%;
}
.content3 h2{
    font-size: 25px;
    line-height: 40px;
    margin-top: 30px;
}
.content3 h1{
    color: orange;
    font-size: 50px;
    margin:10px 0 ;
}
.contacts{
    background-color: #ffeddb;
    margin-top: 200px;
    padding-top:50px ;
}
.contacts2{
    display: flex;
    justify-content: space-around;
}
.logo2{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo2 h3 ,i {
    color: #3f930e;
    font-size: 25px;
    text-decoration: none;
}
.social .fa-brands{
    font-size: 30px;
    color: #ffffff;
    background-color: #3f930e;
    border-radius: 30px;
    text-align: center;
    width: 50px;
    padding: 10px 0;
    margin:5px ;
    cursor: pointer;
}
.social .fa-brands:hover{
    background-color: #ffffff;
    color: #3f930e;
    transition: all 0.1s ease;
}
.contacts .rights{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 20px;

}